:root {
  /* Colors */
  --color-primary: #c1dee8;
  --color-secondary: #fbd9b9;
  --color-black: #000000;
  --color-text-heading: #1f1f1f;
  --color-gray: #bebebe;
  --color-gray-2: #fafafa;
  --color-white: #ffffff;

  /* Typography */
  --font-size-xs: 9px;
  --font-size-sm: 12px;
  --font-size-base: 16px;
  --font-size-lg: 21px;
  --font-size-xl: 28px;
  --font-size-2xl: 38px;
  --font-size-3xl: 50px;
  --font-size-4xl: 67px;
  --font-size-5xl: 89px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 16px 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  border-radius: 70px;
  background-color: var(--color-gray-2);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
}

header .logo img {
  width: 100px;
}

header nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 16px;
  background-color: var(--color-white);
  height: 50px;
  padding: 5px 20px;
  border-radius: 40px;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
}

header nav a {
  text-decoration: none;
  color: var(--color-text-heading);
  font-size: var(--font-size-sm);
  font-weight: 500;
  text-wrap: nowrap;
  transition: all 0.3s ease-in-out;
}

header nav a:hover {
  color: var(--color-primary);
}

header .btns {
  display: flex;
  gap: 16px;
  align-items: center;
}

header .btns button {
  background: none;
  border: none;
  font-size: var(--font-size-sm);
}

header .btns button:last-child {
  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
  padding: 15px 24px;
  border-radius: 40px;
  transition: all 0.3s ease-in-out;
}

header .btns button:last-child:hover {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: var(--color-white);
  cursor: pointer;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-secondary)
  );
  border-radius: 70px;
}

.hero .content {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.hero .content h3 {
  font-size: var(--font-size-base);
  font-weight: 300;
  color: var(--color-black);
}

.hero .content h1 {
  font-size: var(--font-size-3xl);
  font-weight: bold;
  line-height: 1.1;
}

.hero .content p {
  font-size: var(--font-size-base);
  font-weight: 300;
}

.hero .image {
  width: 50%;
}

.hero .image img {
  width: 100%;
  position: relative;
  top: 50px;
}

.hero .content .input-btn {
  position: relative;
  width: 80%;
}

.hero .content .input-btn input {
  width: 100%;
  height: 60px;
  border-radius: 40px;
  border: none;
  padding: 0 20px;
}

.hero .content .input-btn button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 150px;
  border-radius: 40px;
  border: none;
  background-color: var(--color-black);
  color: var(--color-white);
  font-size: var(--font-size-sm);
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.hero .content .input-btn button:hover {
  background-color: rgb(0, 0, 0, 0.8);
}

.everything {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.everything span {
  font-size: var(--font-size-sm);
  color: var(--color-black);
}

.everything h2 {
  font-size: var(--font-size-xl);
  font-weight: bold;
}

.everything .cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.everything .cards .card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.everything .cards .card img {
  width: 75px;
  aspect-ratio: 1/1;
}

.everything .cards .card h4 {
  font-size: var(--font-size-lg);
}

.everything .cards .card p {
  font-size: var(--font-size-sm);
  color: var(--color-gray);
}

.our {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.our .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.our .btns {
  display: flex;
  gap: 8px;
}

.our .btns button {
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.our .btns button[data-active] {
  background-color: var(--color-black);
}

.our .btns button[data-active]:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.our .btns button svg {
  width: 22px;
}

.our .btns button[data-active] svg {
  color: var(--color-white);
}

.our span {
  font-size: var(--font-size-sm);
  font-weight: 300;
}

.our h2 {
  font-size: var(--font-size-2xl);
  font-weight: bold;
}

.our .cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.our .cards .card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 12px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.our .cards .card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.our .cards .card .content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 15px 10px;
}

.our .cards .card span {
  font-size: var(--font-size-sm);
}

.our .cards .card .rating {
  display: flex;
  align-items: center;
  gap: 10px;
}

.our .cards .card img {
  width: 100%;
}

.our .cards .card .stars {
  display: flex;
  align-items: center;
}

.our .cards .card .stars svg {
  width: 16px;
}

.global {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 32px;
}

.global h2 {
  font-size: var(--font-size-3xl);
  font-weight: bold;
  text-align: center;
}

.global .content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 32px;
}

.global .left {
  width: 50%;
  display: flex;
  flex-direction: column;
  max-width: 40%;
  gap: 16px;
}

.global .left h4 {
  font-size: var(--font-size-2xl);
  font-weight: 500;
  line-height: 1.2;
}

.global .left p {
  font-size: var(--font-size-base);
  line-height: 24px;
  text-align: justify;
}

.global .left .btns {
  display: flex;
  gap: 16px;
}

.global .left .btns button {
  background: none;
  border: none;
  border-radius: 40px;
  padding: 12px 22px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.global .left .btns button:first-child {
  background-color: var(--color-black);
  color: white;
}

.global .left .btns button:first-child:hover {
  background-color: rgb(0, 0, 0, 0.8);
}

.global .left .btns button:last-child {
  border: 1px solid var(--color-gray);
}

.global .left .btns button:last-child:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.global .left .numbers {
  display: flex;
  justify-content: space-between;
  gap: 4px;
}

.global .left .numbers div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.global .left .numbers span:first-of-type {
  font-size: var(--font-size-4xl);
  font-weight: 600;
  line-height: 1.2;
}

.global .left .numbers span:last-of-type {
  font-size: var(--font-size-base);
  font-weight: 300;
}

.global .right {
  width: 50%;
}

.global img {
  width: 100%;
}
